@model RouteViewModel

@{
    Layout = "_SimpleLayout";
}

<div>
    <form asp-action="@Model.Action" method="post">
        <div class="mb-6 basis-1/2 invisible absolute">
            <label asp-for="Route.RouteId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">ID</label>
            <input readonly asp-for="Route.RouteId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <div class="flex gap-6">
            <div class="mb-6 basis-1/2">
                <label asp-for="Route.RouteNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Route Number</label>
                <input readonly asp-for="Route.RouteNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <div class="mb-6 basis-1/2">
                <label asp-for="Route.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Route Name</label>
                <input readonly asp-for="Route.Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gamlarætt - Sandur" required>
            </div>
        </div>
        <div class="flex gap-6">
            <div class="mb-6 basis-1/2">
                <label asp-for="Route.Location1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">1. Location</label>
                <input readonly asp-for="Route.Location1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gamlarætt" required>
            </div>
            <div class="mb-6 basis-1/2">
                <label asp-for="Route.Location2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">2. Location</label>
                <input readonly asp-for="Route.Location2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Sandur" required>
            </div>
        </div>
        <div class="mb-6 flex-1">
            <label asp-for="Route.RouteNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
            <textarea readonly asp-for="Route.Description" class="h-[135px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Add a short description" required></textarea>
        </div>
        <div class="flex gap-6">
            <div class="mb-6 basis-1/2">
                <label asp-for="Route.Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Price</label>
                <input readonly asp-for="Route.Price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <div class="mb-6 flex-auto">
                <label asp-for="Route.Type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Type</label>
                <input readonly asp-for="Route.Type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gamlarætt - Sandur" required>
                @* <select asp-for="Route.Type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> *@
                @*     <option>United States</option> *@
                @*     <option>Canada</option> *@
                @*     <option>France</option> *@
                @*     <option>Germany</option> *@
                @* </select> *@
            </div>
        </div>
        <div class="flex gap-6">
            @if (Model.ShowAction == true)
            {
                <button type="submit" class="text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800">@Model?.Action</button>
            }
            <a asp-action="Index" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Back</a>
        </div>
    </form>
</div>