<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SSL Booking</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
      </script>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css"/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet'/>
</head>
<body class="flex flex-col min-h-screen p-5 bg-slate-50 dark:bg-blue-200">
<header class="sticky top-5 z-10">
    <nav class="bg-white shadow border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <img src="~/assets/ssllogo.svg" class="mr-3 h-6 sm:h-9" alt="SSL Logo"/>
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">SSL Booking</span>
            </a>
            <div class="flex flex-row w-full block w-auto" id="navbar-default">
                <ul class="flex flex-row p-4 mt-0 rounded-lg border border-gray-100 space-x-4 text-sm font-medium border-0 dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index"
                           class="block py-2 pr-4 pl-3 text-gray-700 rounded bg-transparent hover:text-blue-700 p-0 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            Home
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Routes" asp-action="Index"
                           class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            Routes
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="News" asp-action="Index"
                           class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-transparent border-0 hover:text-blue-700 p-0 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            News
                        </a>
                    </li>
                </ul>
                <button id="theme-btn" class="ml-8 dark:text-white">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </button>
            </div>
        </div>
    </nav>
</header>
<div class="container flex flex-wrap justify-between items-center mx-auto overflow-auto">
    <main role="main" class="w-full">
        <div class="flex flex-row w-full mx-auto my-4 gap-8 bg-white shadow border-blue-400 ring-gray-200 p-6 rounded-lg dark:bg-gray-900">
            <section class="w-full h-full">
                <div class="flex flex-col gap-2 mb-6">
                    @foreach (var p in Model.NewsItems)
                    {
                        <partial name="_NewsItemPartial" model="p"/>
                    }
                </div>
                <div class="flex flex-col gap-4">
                    @RenderBody()
                </div>
            </section>
            <section class="min-w-fit flex flex-col gap-4">
                @foreach (RouteType rt in Model.RouteTypes)
                {
                    <div class="relative w-full mx-auto text-left ring-1 mt-0 max-w-sm bg-white shadow border-blue-400 ring-gray-200 pl-6 pr-6 pt-6 pb-6 rounded-lg dark:bg-gray-900">
                        <div class="w-full max-w-none space-y-2 text-left mt-0">
                            <h2 class="truncate whitespace-nowrap mt-0 ml-2 pb-2 text-left text-gray-500 text-lg font-bold uppercase dark:text-white">
                                Oyggjaleiðir
                            </h2>
                            @foreach (Route r in Model.Routes)
                            {
                                if (rt.RouteTypeId == r.RouteTypeId)
                                {
                                    <partial name="_RoutePartial" model="r"/>
                                }
                            }
                        </div>
                    </div>
                }
            </section>
        </div>
    </main>
</div>
<footer class="p-4 bg-white rounded-lg shadow w-full mx-auto mt-auto md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-900">
    <div class="container flex justify-between mx-auto">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2022 <a asp-area="" asp-controller="Home" asp-action="Index">SSL Booking</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="mr-4 hover:underline md:mr-6 ">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Routes" asp-action="Index" class="mr-4 hover:underline md:mr-6 ">Routes</a>
            </li>
            <li>
                <a asp-area="" asp-controller="News" asp-action="Index" class="mr-4 hover:underline md:mr-6 ">News</a>
            </li>
            <li>
                <a href="https://github.com/" target="_blank" class="hover:underline">Github Repo</a>
            </li>
        </ul>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>